* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f6f8fd;
}
nav {
  background-color: #f6f8fd !important;
  .navbar-brand {
    font-weight: 800;
    font-size: 36px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        line-height: 55px;
        margin-left: 35px;
        font-size: 22px;

        img {
          max-height: 55px;
          max-width: 55px;
        }

        &:hover::after {
          content: "";
          display: block;
          border-bottom: 3px solid #0b63dc;
          width: 80%;
          margin: auto;
          padding-bottom: 5px;
          margin-bottom: -8px;
        }
      }
    }
  }
}

header {
  margin-top: 90px;
  .text__hero {
    h2 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  img {
    width: 100%;
  }
}

main {
  margin-top: 100px;

  .kajian__pranikah {
    h3 {
      margin-bottom: 30px;
    }

    .video__pranikah {
      width: 100%;
      height: 380px;
    }
  }
  .taaruf__quotes {
    margin-top: 50px;
    h3 {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }

  .stories {
    margin: 50px 0;

    img {
      width: 100%;
    }
  }

  // taaruf page
  aside {
    .filter {
      text-align: center;
    }
    h5 {
      font-weight: 400;
    }
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  .content {
    .card {
      height: 370px !important;
      width: 250px !important;
      margin-bottom: 40px;

      img {
        width: 100%;
        height: 200px;
      }
      .card-body {
        margin: 0;
        padding: 0 10px;
        h5 {
          margin: 0;
          padding: 0;
          font-size: 20px;
        }
        p {
          margin: 0;
          padding: 0;
          color: #3f3f3f;
          font-size: 14px;

          &.card-text {
            height: 63px;
            overflow-y: hidden;
          }
        }

        a {
          margin-top: 15px;
          margin-left: 65%;
        }
      }
    }
  }

  // detail page
  .section__detail__header {
    background: #e4e6eb;
    min-height: 230px;
    margin-top: -100px;
    margin-bottom: 0;
  }

  .section__detail__content {
    margin-top: -230px;

    .breadcrumb {
      height: 100px;
      margin: 0;
      margin-top: 0;
      background-color: transparent;
      line-height: 100px;
    }
    .detail__cv {
      border: 2px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 30px;
      padding: 20px 50px;

      .cv__profile {
        margin: 20px 0;
        .profile__image {
          img {
            margin-bottom: 20px;
            width: 100%;
          }
        }

        .profile__detail {
          p {
            margin: 0;
          }
        }
      }

      .cv__gambar__fisik,
      .cv__pendidikan,
      .cv__gambaran__diri,
      .cv__kriteria__pasangan,
      .cv__harapan__pernikahan {
        margin: 20px 0;
        p {
          margin: 0;
        }
      }
    }
    .card__detail__aside {
      border-radius: 8px 8px 0;
      // aside detail
      .card-body {
        width: 100%;
        min-height: 253px;
        padding: 35px;

        p {
          font-size: 18px;
        }
      }

      .btn__ajak__taaruf a {
        width: 100%;
        line-height: 58px;
        height: 67px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 0px;
      }
    }
  }
}

// footer
footer {
  hr {
    border: none;
    height: 2px;
    background-color: rgb(192, 192, 192);
  }

  h5 {
    font-weight: 800;
    font-size: 26px;

    & ~ p {
      font-weight: bold;
    }
  }

  .footer__item {
    margin: 50px 0;
  }
}
//layar medium
@media screen and(max-width: 991px) {
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:hover::after {
          content: "";
          display: none !important;
        }
      }
    }
  }
  header {
    .text__hero {
      h2 {
        margin: 25px 0;
        font-size: 26px;
      }
      p {
        display: none;
      }
    }
  }

  main {
    .content {
      .card {
        img {
          width: 100%;
          height: auto !important;
        }
        height: 370px !important;
        width: 230px !important;
        margin-bottom: 40px;
      }
    }
  }
}

// layar small
@media screen and(max-width: 767px) {
  header {
    .text__hero {
      text-align: center;
      margin: 0 auto;
      h2 {
        font-weight: 800;
        font-size: 42px;
      }
      p {
        display: block;
      }
    }

    .image__hero {
      display: none;
    }
  }
}

// layar xtrasmall
@media screen and(max-width: 575px) {
  main {
    .content {
      .card {
        margin-left: auto;
        img {
          width: 100%;
          height: auto !important;
        }

        a {
          margin-bottom: 15px !important;
        }
        height: auto !important;
        width: 80% !important;
        // margin-bottom: 40px;
      }
    }
  }
}
